:host {
  display: flex;
  align-items: center;
  position: relative;
  content: contain;
  background-color: var(--default-color,rgb(241,241,241));
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

mat-card {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
