<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Macaria</h1>
</mat-toolbar>

<mat-drawer-container class="app-content-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <button mat-button [routerLink]="['/']"> Home</button>
    <button mat-button [routerLink]="['/']"> Notes</button>
    <button mat-button [routerLink]="['/']"> Tags</button>
    <button mat-button [routerLink]="['/']"> Settings</button>
    <button mat-button [routerLink]="['/login']"> Logout</button>
  </mat-drawer>

  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
